
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-MPW {
  padding: 0rem 0rem 1.2rem 1.8rem;
  align-items: center;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #dfdfdf;
  box-sizing: border-box;
  width: 100%;

  .auto-group-kegp-4SL {
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 0rem 4.8rem 0.6rem;
    width: calc(100% - 0.6rem);
    height: 19.2rem;
    display: flex;

    .collegelogo-removebg-preview-1-rFi {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.5rem;
      width: 13.5rem;
      height: 18.2rem;
    }
    .frame-4-ZA8 {
      padding: 1.1rem 3.45rem 0rem 0rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      width: 126.6rem;

      .auto-group-eknx-TmJ {
        position: relative;
        flex-shrink: 0;
        margin: 0.8rem 3.3rem 1.2rem 0rem;
        width: 51.9rem;
        height: calc(100% - 2rem);

        .mmcoe-nYg {
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          width: 51.9rem;
          font-size: 12.8rem;
          font-weight: 900;
          font-family: Inter, 'Source Sans Pro';
          height: 15.6rem;
        }
        .sno18-plot-no-5-3-karve-nagar-pune-411052-2hv {
          position: absolute;
          left: 0.05rem;
          top: 10.2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          width: 49.3rem;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          height: 5.9rem;
        }
      }
      .accredited-with-a-grade-by-naac-recipient-of-best-college-award-2019-by-sppu-accredited-mechanical-electrical-departmentsbynba-h3N {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 68rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 900;
      }
    }
  }
  .frame-3-nacca-ufE {
    background-color: #7d8b89;
    border-radius: 3rem;
    flex-shrink: 0;
    margin: 0rem 17.1rem 1.4rem 12.3rem;
    height: 17.2rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: calc(100% - 29.4rem);

    .r-1-EBi {
      top: -2.7rem;
      width: 56rem;
      height: 23.4rem;
      position: absolute;
      left: 0;

      .r-1-ALG {
        position: relative;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:d91b7980e3ca53c9029e4d123d68669872fa628d');
        width: 56rem;
        height: 23.4rem;
      }
    }
    .r-1-5CL {
      background-image: url('REPLACE_IMAGE:d91b7980e3ca53c9029e4d123d68669872fa628d');
      width: 56rem;
      height: 23.4rem;
      position: relative;
      left: 55.2rem;
      top: -2.7rem;
      background-size: 100% 100%;
    }
    .drone-club-aun {
      top: 4.1rem;
      font-weight: 900;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 10.05rem;
      text-align: center;
      font-size: 12.8rem;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      width: 82.8rem;
      height: 15.6rem;
    }
  }
  .auto-group-6e9e-SBJ {
    flex-shrink: 0;
    margin-right: 1.3rem;
    display: flex;
    align-items: flex-start;

    .frame-5-yh2 {
      height: 58.4rem;
      overflow: hidden;
      text-align: center;
      font-size: 4rem;
      line-height: 1.2125;
      position: relative;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.6rem 0rem 0rem;
      font-weight: 900;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 2.7rem 7.55rem 2.7rem 7.65rem;
      background-color: #7d8b89;
      border-radius: 3rem;
    }
    .frame-6-Pkk {
      background-color: #7d8b89;
      margin-right: 3.3rem;
      box-sizing: border-box;
      padding: 2.7rem 6.3rem;
      position: relative;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 900;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      white-space: nowrap;
      border-radius: 3rem;
      height: 58.4rem;
      overflow: hidden;
      text-align: center;
      line-height: 1.2125;
    }
    .frame-7-FY4 {
      box-sizing: border-box;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 3rem;
      overflow: hidden;
      position: relative;
      font-size: 4rem;
      font-weight: 900;
      color: #000000;
      padding: 2.5rem 2.2rem;
      height: 58.4rem;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #7d8b89;
    }
  }
}
