/* @import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	background: #FFF;
	font-family: 'Nunito', sans-serif;
    
}
.qq{
  display: flex;
  width: 80%;height: auto;
  background-color: rgba(240, 248, 255, 0.463);
  border-radius: 12px;
}

.about-content {
	width: 100%;
	/* position: relative; */
	justify-content: center;
	/* flex-wrap: wrap; */
	display: flex;
	align-items: center;
  	padding-top: 30px;
}
.about-content .side-text {
	width: 40%;
  	height: fit-content;
	padding: 5px 5px;
	background: #fff;
	box-shadow: 2px 0 100px rgba(0.3,0.3,0.3,0.3);
	border-radius: 5px;
	/* text-align: justify; */
	/* line-height: 22px; */
	/* opacity: 0; */
	transform: translateX(-100px);
	transition: 1s ease-in-out;
}
.about-content .side-text-appear {
	opacity: 1;
	transform: translateX(0px);
}
.about-content .side-text h2 {
	padding: 10px;
}
.side-text{
	z-index: -1;
}
.leeft{
  margin-left: 40px;
  border-radius: 5px;
  box-shadow: 2px 0 100px rgba(0.3,0.3,0.3,0.3);
}


/* About Us  */
.aboutus{
	padding-top: 80px;
}

.info_about_us{
	display: flex;
}
.imgaboutus img{
	width: 100%;
}
.info p{
	font-size: 2rem;
}

/* cards */
.totalcard , .crds {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	z-index: -1;
}
.totalcard .card , .crds .cards1{
	margin: 50px;
	width: 300px;
	border-radius: 10px;
	background: #fff;
}
.totalcard .card {
	box-shadow: inset 0 0 10px rgba(0,0,0,0.4),
					0 0 10px rgba(0,0,0,0.3);
}
.card:nth-child(1){
	border-top: 5px solid green;
}
.card:nth-child(2){
	border-top: 5px solid blue;
}
.card:nth-child(3){
	border-top: 5px solid rgb(255, 0, 72);
}
.card:nth-child(1):hover {
	box-shadow: inset 0px 0px 10px rgba(0,255,0,0.5),
				1px 1px 30px rgba(0,255,0,0.5);
}
.card:nth-child(2):hover {
	box-shadow: inset 0px 0px 10px rgba(0,0,255,0.5),
				1px 1px 30px rgba(0,0,255,0.5);
}
.card:nth-child(3):hover {
	box-shadow: inset 0px 0px 10px rgba(255, 0, 102, 0.5),
				1px 1px 30px rgba(255, 0, 43, 0.5);
}

.totalcard .card img {
	width: 100px;
	height: 100px;
	margin-top: 5px;
	cursor: pointer;
	border-radius: 50px;
	transition-duration: .8s;
}

.totalcard .card img:hover {
	transform: scale(2);
	border-radius: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


#detail p{
	font-size: 15px;
	line-height: 25px;
	font-variant: small-caps;
	text-align: center;
	margin: 25px;
	margin-bottom: 0px;
	margin-top: 0px;
}
#detail button {
	outline: none;
	border-radius: 10px;
	border-style: none;
	border: 1px solid black;
	padding: 9px 25px;
	cursor: pointer;
	transition-duration: .4s;
}
#detail a {
	bottom: 80px;
	text-decoration: none;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 90px;
	align-self: center;
}
.btn-roshan:hover {
	background: rgba(0,255,0,0.7);
	color: #fff;
}
.btn-roshan2:hover {
	background: rgba(0,0,255,0.5);
	color: #fff;
}
.btn-roshan3:hover {
	background: rgba(176, 37, 44, 0.5);
	color: #fff;
}
.card-title {
	font-size: 17px;
	color: #343A40;
	padding: 20px;
	font-weight: 700;
}

/* footer */
.footr{
	width: 100%;
	/* background-color:rgba(112, 112, 112, 0.936) ; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.hvr{
	color: #FFF;
	font-size: 1.8rem;
}
.hvr:hover{
	color:rgb(0, 0, 0);
}
a{
	text-decoration: none;
}

/* events */
/* .card1 .card-body{
  padding-top: 5px;
  font-size: larger;
} */

.evnts img{
  transition-duration: .8s;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.4),
					0 0 10px rgba(0,0,0,0.3);
}

.evnts img:hover{
  transform: scale(2);
	border-radius: 0;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.4),
					0 0 10px rgba(0,0,0,0.3);
}





/* gallery */
/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 450px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
  transition-duration: 18ms;
  transition-timing-function: ease-in-out;
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

.glry{
	padding-bottom: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gll{
	font-size: xx-large;
}

.evnts hr{
  opacity: 0;
}

 @media screen and (max-width: 425px) {
  .qq{
    display: inline;
  }
  .side-text{
    margin-left: 30px;
  }
  .aboutus{
	padding-top: 8%;
  }
  .info_about_us{
	display: inline;
  }

  .card1{
    padding-top: 30px;
  }

  .evnts hr{
    opacity: 1;
  }
   .evnts {
    text-align: center;
   }
}


@media screen and (max-width: 690px) {
  .footr{
    display: inline;
    /* font-size: 30px; */
  }

  .footr hr{
    /* opacity: 0; */
    width: 50%;
    color: #FFF;
  }

  .cntrr{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social{
    
    /* text-align: center; */
    /* align-items: center; */
    justify-content: center;
  }
  .social h1{
    font-size: 3rem;
  }
}

@media screen and (min-width: 1360px) {
  .container-fluid{
    position: fixed;padding-top: 50px;
  }
}

.container-fluid{
  background-color: rgba(112, 112, 112, 0.936);
}
